<% layout("./base") %>
<section>
  <header class="header-auth">
    <img src="images/logo.png">
  </header>
  <main>
  <form class="form" action="/" method="POST">
      <label for="name">Login:</label>
      <input id="passport" name="passport" type="text" autofocus placeholder="Your passport number">
      <label> Password: </label>
      <input id="password" name="password" type="text" placeholder="Your date of birth in DDMMYYYY format (e.g. 23031998)">
      <button type="submit">Login</button>
  </form>
  <% if (state.error == 'WRONG_INFO') { %>
  <span style="color:lightcoral">Wrong login information</span>
  <% } %>
  </main>
</section>
