<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Check Application Status</title>
  <link href="css/index.css" rel="stylesheet">
</head>

<body class="layout-center">
  <main>
    <%~ state.body %>
  </main>
</body>

</html>
